# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [45]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [46]:
class Keys:
    is_fetch_ok = "Is_Fetch_Ok"
    city_id     = "City_ID"
    city        = "City"
    cloudiness  = "Cloudiness"
    country     = "Country"
    date        = "Date"
    humidity    = "Humidity"
    lat         = "Lat"
    lng         = "Lng"
    max_temp    = "Max Temp"
    wind_speed  = "Wind Speed"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [61]:
city_weather_metadata_path = "../output_data/cities.csv"

# Read the city data
city_weather_metadata = pd.read_csv(city_weather_metadata_path)
city_weather_df = pd.DataFrame(city_weather_metadata).astype({Keys.lat:        float,
                                                              Keys.lng:        float,
                                                              Keys.city_id:    int,
                                                              Keys.humidity:   int,
                                                              Keys.cloudiness: int,
                                                              Keys.date:       int})
city_weather_df = city_weather_df.dropna(inplace = False) 
city_weather_df.head(50)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,mataura,25,PF,1635438719,98,-71.08,-161.00,46.26,0.18
1,1,kindu,82,CD,1635438719,99,-2.19,25.43,66.78,2.42
2,2,chokurdakh,99,RU,1635438719,93,87.78,156.26,-2.70,3.22
3,3,puerto ayora,93,EC,1635438720,87,-2.50,-112.33,76.96,4.00
4,4,san cristobal,56,EC,1635438720,60,-14.14,-91.48,77.18,6.31
5,5,gold coast,38,AU,1635438720,91,-27.61,154.55,75.00,1.01
6,6,dikson,59,RU,1635438720,94,75.22,84.70,6.31,7.90
7,7,vostok,16,RU,1635438510,93,48.49,151.76,29.41,2.89
8,8,williams lake,90,CA,1635438721,87,51.94,-122.98,36.97,4.61
9,9,hermanus,0,ZA,1635438721,84,-76.15,1.63,65.80,8.55
10,10,mahur,2,IN,1635438722,90,24.96,93.22,63.14,1.70
11,11,saint-augustin,1,CA,1635438723,41,50.23,-58.72,47.61,8.23
12,12,voh,5,NC,1635438723,92,-21.22,164.44,70.72,3.71
13,13,kuito,99,AO,1635438723,70,-11.72,16.28,65.64,4.90
14,14,kudymkar,97,RU,1635438724,83,58.76,54.72,23.25,12.26
15,15,victoria,33,US,1635438673,81,28.79,-97.39,78.33,1.01
16,16,yar-sale,100,RU,1635438724,95,73.82,71.71,21.70,16.64
17,17,kharian,0,PK,1635438724,41,32.91,74.18,69.15,3.69
18,18,buraydah,100,SA,1635438724,14,26.61,41.98,82.85,11.30
19,19,cape town,0,ZA,1635438541,71,-78.21,-14.79,70.12,1.01
20,20,punta arenas,75,CL,1635438497,48,-79.56,-106.74,60.91,23.02
21,21,kruisfontein,100,ZA,1635438725,88,-56.29,25.31,69.89,11.83
22,22,rikitea,23,PF,1635438725,82,-22.35,-135.61,74.30,6.62
23,23,saldanha,1,ZA,1635438725,84,-34.47,8.98,68.05,8.70
24,24,avarua,20,CK,1635438726,78,-38.66,-164.35,71.65,4.61
25,25,fortuna,1,US,1635438726,96,36.40,-142.51,56.32,9.22
26,26,bethel,90,US,1635438726,70,61.76,-163.16,57.02,3.00
27,27,fort nelson,75,CA,1635438726,93,57.68,-124.02,27.99,0.00
28,28,leningradskiy,100,RU,1635438556,91,80.68,178.88,6.15,12.41
29,29,arraial do cabo,75,BR,1635438727,78,-32.12,-39.53,82.36,17.27
30,30,nabire,100,ID,1635438727,91,-2.93,134.45,75.25,3.49
31,31,pangoa,23,PE,1635438727,39,-12.01,-72.81,91.17,4.83
32,32,bilma,3,NE,1635438727,13,20.12,12.00,87.75,3.76
33,33,humberto de campos,75,BR,1635438728,45,-2.35,-43.65,90.70,7.72
34,34,wanaka,44,NZ,1635438728,82,-42.51,168.75,50.11,1.01
35,35,qaanaaq,100,GL,1635438729,92,89.42,-84.48,21.79,8.52
36,36,ixtapa,1,MX,1635438572,61,1.11,-109.41,83.23,3.44
37,37,gizo,26,SB,1635438729,73,-12.64,155.53,82.62,9.64
38,38,tongliao,3,CN,1635438729,49,43.83,122.17,49.41,8.08
39,39,lebu,1,CL,1635438663,73,-33.10,-81.62,59.22,13.65
40,40,yellapur,46,IN,1635438730,72,15.13,74.78,65.73,2.66
41,41,hua hin,66,TH,1635438730,89,12.78,99.50,76.51,7.27
42,42,kaitangata,93,NZ,1635438730,96,-68.95,177.39,49.19,2.75
43,43,hilo,1,US,1635438603,84,10.20,-159.65,69.80,6.91
44,44,iqaluit,75,CA,1635438614,80,62.14,-71.90,33.53,4.00
45,45,ushuaia,20,AR,1635438612,39,-64.72,-43.65,60.46,19.57
46,46,bredasdorp,0,ZA,1635438730,73,-86.03,22.12,65.28,5.39
47,47,bonavista,100,CA,1635438731,71,50.74,-48.33,41.11,15.43
48,48,buka,100,UZ,1635438731,82,40.92,69.20,45.52,2.68
49,49,kapaa,75,US,1635438791,99,13.62,-173.75,73.38,6.91

In [48]:
city_df[Keys.city_id].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 124, 125, 126, 127, 128, 129, 130, 131,
       132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144,
       145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157,
       158, 159, 160, 161, 162, 163, 164, 165, 166, 168, 169, 170, 171,
       172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184,
       186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198,
       199, 200, 201, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303,
       304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316,
       317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329,
       330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342,
       343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355,
       356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368,
       369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381,
       382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394,
       395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407,
       408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420,
       421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433,
       434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446,
       447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459,
       460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472,
       473, 474, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486,
       487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499,
       500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512,
       513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525,
       526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538,
       539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550])

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [59]:
# Access maps with unique API key
gmaps.configure(api_key = g_key)

# Plot Heatmap
fig = gmaps.figure()

# Store latitude and longitude in locations
locations = city_weather_df[[Keys.lat,Keys.lng]]
humidity  = city_weather_df[Keys.humidity]

# Create heat layer

heatmap_layer = gmaps.heatmap_layer(locations, 
                                    weights = humidity)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.

max_perfect_temp   = 85
min_perfect_temp   = 55
perfect_wind_speed = 4
perfect_cloudiness = 10

#NOTE: Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

city_ids_to_drop_df = pd.DataFrame(city_df.loc[(city_df[Keys.max_temp]  > max_perfect_temp)    |  \
                                  (city_df[Keys.max_temp]   < min_perfect_temp)                |  \
                                  (city_df[Keys.wind_speed] > perfect_wind_speed)              |  \
                                  (city_df[Keys.cloudiness] > perfect_cloudiness)][Keys.city_id]).astype(int)

city_ids_to_drop_df.head(3)

In [ ]:
idxs_to_drop = list((x for x in list(city_ids_to_drop_df[Keys.city_id])))
idxs_to_drop

city_df.set_index(Keys.city_id)
city_df.drop(city_df.index[idxs_to_drop], inplace = True, axis=0)
city_df[Keys.date].astype(str,copy = False)
city_df

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
#Store into variable named hotel_df
#Add a "Hotel Name" column to the DataFrame
hotel_df = city_df.copy(deep=True)
hotel_df["Hotel Name"]=pd.Series(dtype=str)

In [ ]:
#Set parameters to search for hotels with 5000 meters.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure